.products-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    width: 275px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.548);
    position: initial;
    height: fit-content;
}

.card:hover {
    box-shadow: 0 0 7px 1px black;
    cursor: pointer;
}

.title-card {
    text-align: center;
    font-size: 50;
}

.image-card {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.product-image {
    height: 150px;
    width: 150px;
}

.footer-card {
    padding: 10px 10px 10px 10px;
    background: #fff4c2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    margin: -6px 0 16px 0;
}

.quantity {
    border-radius: 30px;
    padding: 7px;
    width: 40px;
}

.quantity:focus {
    background: rgba(235, 255, 121, 0.486);
    font-weight: 800;
}

.add-to-cart {
    padding: 7px 13px;
    background-color: #7cff10;
    border-radius: 30px;
    font-weight: 900;
}

.trashBtn {
    border-radius: 30px;
    padding: 5px 10px;
    background: rgba(255, 100, 100, 0.521);
    margin: 5px;
    border: none;
}

.updateBtn {
    border-radius: 30px;
    padding: 5px 10px;
    background: rgba(255, 100, 100, 0.521);
    margin: 5px;
    border: none;
}

.trashBtn:hover {
    cursor: pointer;
    background: rgb(255, 0, 0);
    box-shadow: 0 0 5px 1px black;
}

.dialogInput {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.catalogNumber{
    width: 200px;
    margin: auto;
}